
.pmpro_sequence_list {list-style: none; margin: 1.5em 0; border-top: 1px solid #EEE; }
.pmpro_sequence_list li {padding: .5em 1em; margin: 0; background: #F9F9F9; border-top: 1px solid #FFF; border-bottom: 1px solid #EEE; }
.pmpro_sequence_list li:nth-child(odd) { }
.pmpro_sequence_list li:nth-child(event) { }

.pmpro_sequence_item-title {display: inline-block; }
.pmpro_sequence_item-title a {font-size: 1.1em; }
.pmpro_sequence_item-available {display: inline-block; float: right; width: auto; }
.pmpro_sequence_item-unavailable {display: inline-block; float: right; width: auto; font-style: italic; font-size: .9em; text-align: center;  }

.pmpro-sequence-template,
.pmpro-sequence-noticetime,
#save_pmpro-seq-useroptin {
    display: none;
}

.pmpro-sequence-sortorder label,
.pmpro-sequence-delaytype label,
.pmpro-sequence-template label,
.pmpro-sequence-noticetime label,
.pmpro-sequence-excerpt label {
    vertical-align: baseline;
}

table#newmeta td {
    vertical-align: middle !important;
}

span#pmpro-seq-sort-status,
span#pmpro-seq-delay-status,
span#pmpro-seq-template-status,
span#pmpro-seq-noticetime-status,
span#pmpro-seq-excerpt-status {
    font-weight: bold;
    color: #3875d7;
}
.edit-pmpro-seq-sort,
.edit-pmpro-seq-delay,
.edit-pmpro-seq-template,
.edit-pmpro-seq-noticetime,
.edit-pmpro-seq-excerpt {
    display: inline-block;
}

.pmpro-seq-alert-hl {
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
    /* color: #9C0000; */
}

#pmpro_settings_save {
    float: right;
    right: 12px;
    display: inline-block;
}

input#pmpro_sequence_excerpt {
    width: 170px;
}

.pmpro_sequence_useroptin {
    border:1px solid #c5c5c5;
    display: inline-block;
    width: 550px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}