
.pmpro_sequence_list {list-style: none; margin: 1.5em 0; border-top: 1px solid #EEE; }
.pmpro_sequence_list li {padding: .5em 1em; margin: 0; background: #F9F9F9; border-top: 1px solid #FFF; border-bottom: 1px solid #EEE; }
.pmpro_sequence_list li:nth-child(odd) { }
.pmpro_sequence_list li:nth-child(event) { }

.pmpro_sequence_item-title {display: inline-block; }
.pmpro_sequence_item-title a {font-size: 1.1em; }
.pmpro_sequence_item-available {display: inline-block; float: right; width: auto; }
.pmpro_sequence_item-unavailable {display: inline-block; float: right; width: auto; font-style: italic; font-size: .9em; text-align: center;  }

.pmpro-sequence-template,
.pmpro-sequence-noticetime,
.pmpro-sequence-email,
#save_pmpro-seq-useroptin {
    display: none;
}

.pmpro-sequence-sortorder label,
.pmpro-sequence-delaytype label,
.pmpro-sequence-template label,
.pmpro-sequence-noticetime label,
.pmpro-sequence-excerpt label,
.pmpro-sequence-subject label,
.pmpro-sequence-email label {
    vertical-align: bottom;
    width: 67px;
    overflow: hidden;
}

.pmpro-seq-email-hl {
    margin-bottom: 3px;
    margin-top: 3px;
    font-size: 12px;
    font-weight: bold;

}
table#newmeta td {
    vertical-align: middle !important;
}

span#pmpro-seq-noticetimetz-status {
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* -o-text-overflow: ellipsis; */
    /* -moz-binding: url('assets/xml/ellipsis.xml#ellipsis'); */
    height: 18px;
    font-weight: bold;
    color: #666666;

}

span#pmpro-seq-sort-status,
span#pmpro-seq-delay-status,
span#pmpro-seq-template-status,
span#pmpro-seq-noticetime-status,
span#pmpro-seq-fromname-status,
span#pmpro-seq-replyto-status,
span#pmpro-seq-subject-status,
span#pmpro-seq-excerpt-status {
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* -o-text-overflow: ellipsis; */
    /* -moz-binding: url('assets/xml/ellipsis.xml#ellipsis'); */
    height: 18px;
    font-weight: bold;
    color: #3875d7;
}

.edit-pmpro-seq-sort,
.edit-pmpro-seq-delay,
.edit-pmpro-seq-template,
.edit-pmpro-seq-noticetime,
.edit-pmpro-seq-email,
.edit-pmpro-seq-subject,
.edit-pmpro-seq-excerpt {
    display: inline-block;
}

.pmpro-seq-alert-hl {
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
    /* color: #9C0000; */
}

#pmpro_settings_save {
    float: right;
    right: 12px;
    display: inline-block;
}

input#pmpro_sequence_excerpt {
    width: 170px;
}

.pmpro_sequence_useroptin {
    border:1px solid #c5c5c5;
    display: inline-block;
    width: 550px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.seq_spinner {
    background: url('/wp-admin/images/wpspin_light.gif') no-repeat;
    background-size: 16px 16px;
    display: none;
    float: left;
    opacity: .7;
    filter: alpha(opacity=70);
    width: 16px;
    height: 16px;
    margin: 5px 5px 0;
}